body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.input-group {
  margin-bottom: 25px;
}

input {
  padding: 8px;
  width: 100%;
  margin-top: 5px;
  border-radius: 12px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #2ecc71;
  border: none;
  color: white;
  cursor: pointer;
}

.results-card {
  border-top: 2px solid #eee;
  margin-top: 20px;
}

span {
  font-weight: bold;
  color: #e74c3c;
}
